<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:security="http://www.springframework.org/schema/security" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans   
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
            http://www.springframework.org/schema/security   
            http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- no need to filter login page -->
	<security:http pattern="/login.html*" security="none"/>
    <!-- 不要过滤图片等静态资源，其中**代表可以跨越目录，*不可以跨越目录。 -->
	<security:http pattern="**.jpg" security="none" />
	<security:http pattern="**.png" security="none" />
	<security:http pattern="**.gif" security="none" />
	<security:http pattern="**.css" security="none" />
	<security:http pattern="**.js" security="none" /> 
   	<security:http auto-config="true">  
        <!-- 
        <security:intercept-url pattern="/auth/login" access="permitAll"/>  
        <security:intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>
        <security:intercept-url pattern="/login.html" access="IS_AUTHENTICATED_ANONYMOUSLY"/> -->  
        <security:intercept-url pattern="/*" access="ROLE_USER"/>  
        <security:form-login
        	login-page="/login.html"
        />
        <security:logout delete-cookies="JSESSIONID"/>
        <security:remember-me key="fast-contacts"/>
        <security:session-management invalid-session-url="/invalidSession.html"></security:session-management>
        <security:custom-filter ref="fastFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
    </security:http>  
	
	<b:bean id="fastFilter" class="com.chinadreamer.contacts.filter.SecurityInterceptor">
		<b:property name="authenticationManager" ref="authenticationManager"></b:property>
		<b:property name="accessDecisionManager" ref="fastAccessDecisionManager"></b:property>
		<b:property name="securityMetadataSource" ref="fastSecurityMetadataSource" ></b:property>
	</b:bean>
	
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider user-service-ref="fastUserDetailsService">
			<security:password-encoder ref="passwdEcoder"/>
			<!--  
			<security:user-service>
				<security:user name="test" password="test" authorities="ROLE_USER"/>
				<security:user name="admin" password="admin" authorities="ROLE_USER,ROLE_ADMIN"/>
			</security:user-service>-->
		</security:authentication-provider>
	</security:authentication-manager>
	
	<b:bean id="fastUserDetailsService" class="com.chinadreamer.contacts.filter.FastUserDetailsService"/>
	<b:bean id="passwdEcoder" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder"/>
	<!-- 访问决策器，决定某个用户具有的角色，是否有足够的权限去访问某个资源 -->
	<b:bean id="fastAccessDecisionManager" class="com.chinadreamer.contacts.filter.AccessDecisionManager"></b:bean>
	<b:bean id="fastSecurityMetadataSource" class="com.chinadreamer.contacts.filter.SecurityMetadataSource"></b:bean>
</b:beans>