<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns:b="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:security="http://www.springframework.org/schema/security" 
  xsi:schemaLocation="http://www.springframework.org/schema/beans   
            http://www.springframework.org/schema/beans/spring-beans-3.0.xsd  
            http://www.springframework.org/schema/security   
            http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!-- no need to filter login page -->
	<security:http pattern="/login" security="none"/>  
    <!-- 不要过滤图片等静态资源，其中**代表可以跨越目录，*不可以跨越目录。 -->
	<security:http pattern="**.jpg" security="none" />
	<security:http pattern="**.png" security="none" />
	<security:http pattern="**.gif" security="none" />
	<security:http pattern="**.css" security="none" />
	<security:http pattern="**.js" security="none" /> 
   	<security:http auto-config="true" use-expressions="true" access-denied-page="/auth/denied" >  
        <!-- 
        <security:intercept-url pattern="/auth/login" access="permitAll"/>  
        <security:intercept-url pattern="/admin" access="hasRole('ROLE_ADMIN')"/>  
        <security:intercept-url pattern="/*" access="hasRole('ROLE_USER')"/> -->  
          
        <!-- login configuration -->
        <security:form-login  
                login-page="/auth/login"   
                authentication-failure-url="/auth/login?error=true"   
                default-target-url="/main/common"
                username-parameter="username" 
                password-parameter="password" 
                login-processing-url="/login" 
                />  
        <!-- logout configuration -->  
        <security:logout   
                invalidate-session="true"   
                logout-success-url="/auth/login"   
                logout-url="/auth/logout"/>  
        <security:remember-me /> 
        
        <!-- customized filter, user-role-authority-resource -->
        <security:custom-filter ref="fastFilter" before="FILTER_SECURITY_INTERCEPTOR"/>
    </security:http>  
	
	
	<!-- customized fastFilter -->
	<b:bean id="fastFilter" class="com.chinadreamer.contacts.filter.SecurityInterceptor">
		<!-- interface FilterInvocationSecurityMetadataSource implementor -->
		<b:property name="securityMetadataSource" ref="securityMetadataSource"></b:property>
		<!-- authentication manager -->
		<b:property name="authenticationManager" ref="authenticationManager"/>
		<!-- interface AccessDecisionManager implementor -->
		<b:property name="accessDecisionManager" ref="accessDecisionManager"/>
	</b:bean>
	
	
	<!-- authentication manager configuration -->  
    <security:authentication-manager alias="authenticationManager">  
    		<!-- user info. manager class, implement UserDetailsService-->
            <security:authentication-provider user-service-ref="userDetailsManager">  
            <!-- password encoder class-->
            <security:password-encoder ref="passwordEncoder">
            	<security:salt-source user-property="username"/>
            </security:password-encoder>  
            </security:authentication-provider>  
    </security:authentication-manager>  
    
    <!-- user info. calss -->
    <b:bean id="userDetailsManager" class="com.chinadreamer.contacts.filter.UserDetailsService"></b:bean>
    <!-- decision manager, controll user permission -->
    <b:bean id="accessDecisionManager" class="com.chinadreamer.contacts.filter.AccessDecisionManager"></b:bean>
    <!-- associate resource to authority, control user's permision to acces resources -->
    <b:bean id="securityMetadataSource" class="com.chinadreamer.contacts.filter.SecurityMetadataSource"/> 
    <!-- encode class -->
    <b:bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder"/> 

</b:beans>